#ofd-type,another-type{
   display: none;
}
#another-type{
   display: none;
}
h1{
   font-size: 32px;
     color: #000000;
}
header{
   margin: 0; /* Обнуляем значение отступов */
   padding: 2px; /* Значение полей */
   background-color:rgba(101, 217, 255, 0.794);
   text-align: center;
   color: #000;
  }

li{
   margin-bottom:10px;
   display:block
}
footer {
   margin: 0,2px,2px,2px; /* Обнуляем значение отступов */
   padding: 2px; /* Значение полей */
   width: 100%;
   padding: 2px;
   background-color:rgba(101, 217, 255, 0.794);
   /* position: fixed; */
   bottom: 0; /* Левый нижний угол */
  }
#footer-li {
   font-size: 14pt;
   display: inline; /* Отображать как строчный элемент */
   border: 1px solid #000; /* Рамка вокруг текста */
   padding: 5px; /* Поля вокруг текста */
  }